/* Shared Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}

/* header style */

.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 200px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 200px;
}

.banner-img {
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-top: 100px;
    padding-right: 200px;
    align-items: baseline;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 35px;
    gap: 10px;
    border: none;
    color: white;
    margin-left: 200px;
    font-size: 22px;
}

/* Featured Section Styles */

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    margin-top: 100px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.featured-items {
    margin: 50px 200px 190px 200px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.item-1 {
    width: 220px;
    height: 300px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.item-2 {
    width: 220px;
    height: 300px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.item-3 {
    width: 220px;
    height: 300px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-figcap {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.featured-support {
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px 130px 200px;
    align-items: center;
    padding: 50px;
    background: rgba(39, 39, 39, 0.05);
}

.support-figcap {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* Hot Deal Section Styles */

.hot-deal-container {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
    align-items: center;
    padding-left: 200px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-off {
    color: #E55473;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.hot-deal-img {
    margin-right: 60px;
}

/* Occasion Section Styles */

.occasion-container {
    height: 70vh;
    background-image: url(../images/bg\ pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.occasion-title {
    font-size: 50px;
    font-weight: 700;
    color: #1f123b;
    text-align: center;
    padding-top: 20px;
}

.occasion-type {
    display: block;
    justify-content: center;
    text-align: justify;
    font-size: 30px;
    font-weight: 700;
    color: #1f123b;
    padding-top: 50px;
    padding-left: 200px;
}

.occasion-vm {
    padding: 20px 0 0 15px;
    font-size: 35px;
    font-weight: 700;
    color: #1f123b;
    text-decoration: none;
}

.occasion-vm:hover {
    color: rgb(20, 105, 55);
}

/* Instagram Section styles */

.insta-container {
    height: 70vh;
    padding-bottom: 100px;
    margin-right: 200px;
}

.insta-content {
    text-align: center;
}

.insta-descriptions {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 200px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 200px;
}

.insta-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding-left: 100px;
}

.insta-div-img {
    width: 200px;
    height: 200px;
    padding-inline: 20px;
}